name: Build EXE
on: workflow_dispatch
jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4       # 这里更新到了 v4
    - uses: actions/setup-python@v5   # 这里更新到了 v5
      with:
        python-version: '3.10'
    - run: pip install pyinstaller
    - run: pyinstaller -F -w server.py
    - uses: actions/upload-artifact@v4 # 关键修复：这里必须改成了 v4
      with:
        name: 工单监控服务端
        path: dist/server.exe
